middleware/OSB/OSB_USERS/Resources/GetAllUser_Experience.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="GetAllUser_Experience">RestService</doc>
   <grammars>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ds.hive5.com/elements" xmlns:tns="http://ds.hive5.com/elements">
            <xs:element name="user">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                        <xs:element name="firstName" type="tns:nameType"/>
                        <xs:element name="lastName" type="tns:nameType"/>
                        <xs:element name="email" type="tns:emailType"/>
                        <xs:element name="password" type="tns:passwordType"/>
                        <xs:element name="role" type="tns:roleType"/>
                        <xs:element name="boards" type="tns:boardsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="boardsType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="board" type="tns:boardType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="boardType">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="boardsIdType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="boardId" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="passwordType">
                <xs:restriction base="xs:string">
                    <xs:minLength value="8"/>
                    <xs:maxLength value="50"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="nameType">
                <xs:restriction base="xs:string">
                    <xs:minLength value="3"/>
                    <xs:maxLength value="50"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="emailType">
                <xs:restriction base="xs:string">
                    <xs:pattern value="[a-zA-Z0-9]{3,15}@[a-z]{3}\.[a-z]{1,7}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="roleType">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="userId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:user"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="firstName" type="xs:string"/>
                        <xs:element name="lastName" type="xs:string"/>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                        <xs:element name="roleId" type="xs:int"/>
                        <xs:element name="boards" type="tns:boardsIdType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:user"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="userId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="message" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="userId" type="xs:int"/>
                        <xs:element name="firstName" type="xs:string"/>
                        <xs:element name="lastName" type="xs:string"/>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                        <xs:element name="roleId" type="xs:int"/>
                        <xs:element name="boards" type="tns:boardsIdType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:user"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllUserByBoardIdRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="boardId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllUserByBoardIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" ref="tns:user"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllUserRequest">
                <xs:complexType/>
            </xs:element>
            <xs:element name="getAllUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" ref="tns:user"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
   </grammars>
   <resources>
      <resource path="/">
         <method name="GET" soa:wsdlOperation="process">
            <request soa:paramElement="pns:getAllUserRequest" xmlns:pns="http://ds.hive5.com/elements"/>
            <response status="200">
               <representation mediaType="application/json" element="cns:getAllUserResponse" xmlns:cns="http://ds.hive5.com/elements"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
