middleware/OSB/OSB_CARDS/WSDLs/card.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
    
     targetNamespace="http://ds.hive5.com/elements"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:sch="http://ds.hive5.com/elements"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:tns="http://ds.hive5.com/elements"
    >
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ds.hive5.com/elements">
            <xs:element name="card">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                        <xs:element name="title" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="startDate" type="xs:date"/>
                        <xs:element name="endDate" type="xs:date"/>
                        <xs:element name="priority" type="xs:int"/>
                        <xs:element name="user" type="tns:userType"/>
                        <xs:element name="board" type="tns:boardType"/>
                        <xs:element name="status" type="tns:statusType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="userType">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="firstName" type="xs:string"/>
                    <xs:element name="lastName" type="xs:string"/>
                    <xs:element name="username" type="xs:string"/>
                    <xs:element name="email" type="xs:string"/>
                    <xs:element name="password" type="xs:string"/>
                    <xs:element name="role" type="tns:roleType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="roleType">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="boardType">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="statusType">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getCardRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cardId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCardResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:card"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createCardRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="title" type="xs:string"/>
                        <xs:element minOccurs="0" name="description" type="xs:string"/>
                        <xs:element name="startDate" type="xs:date"/>
                        <xs:element name="endDate" type="xs:date"/>
                        <xs:element name="priority" type="xs:int"/>
                        <xs:element name="userId" type="xs:int"/>
                        <xs:element name="boardId" type="xs:int"/>
                        <xs:element name="statusId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createCardResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:card"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteCardRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cardId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteCardResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="message" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateCardRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cardId" type="xs:int"/>
                        <xs:element name="title" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="startDate" type="xs:date"/>
                        <xs:element name="endDate" type="xs:date"/>
                        <xs:element name="priority" type="xs:int"/>
                        <xs:element name="userId" type="xs:int"/>
                        <xs:element name="boardId" type="xs:int"/>
                        <xs:element name="statusId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateCardResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:card"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllCardRequest">
                <xs:complexType/>
            </xs:element>
            <xs:element name="getAllCardResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" ref="tns:card"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteCardRequest">
        <wsdl:part name="deleteCardRequest" element="sch:deleteCardRequest"/>
    </wsdl:message>
    <wsdl:message name="deleteCardResponse">
        <wsdl:part name="deleteCardResponse" element="sch:deleteCardResponse"/>
    </wsdl:message>
    <wsdl:message name="getCardRequest">
        <wsdl:part name="getCardRequest" element="sch:getCardRequest"/>
    </wsdl:message>
    <wsdl:message name="getCardResponse">
        <wsdl:part name="getCardResponse" element="sch:getCardResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllCardRequest">
        <wsdl:part name="getAllCardRequest" element="sch:getAllCardRequest"/>
    </wsdl:message>
    <wsdl:message name="getAllCardResponse">
        <wsdl:part name="getAllCardResponse" element="sch:getAllCardResponse"/>
    </wsdl:message>
    <wsdl:message name="createCardRequest">
        <wsdl:part name="createCardRequest" element="sch:createCardRequest"/>
    </wsdl:message>
    <wsdl:message name="createCardResponse">
        <wsdl:part name="createCardResponse" element="sch:createCardResponse"/>
    </wsdl:message>
    <wsdl:message name="updateCardRequest">
        <wsdl:part name="updateCardRequest" element="sch:updateCardRequest"/>
    </wsdl:message>
    <wsdl:message name="updateCardResponse">
        <wsdl:part name="updateCardResponse" element="sch:updateCardResponse"/>
    </wsdl:message>
    <wsdl:portType name="CardsPort">
        <wsdl:operation name="deleteCard">
            <wsdl:input name="deleteCardRequest" message="sch:deleteCardRequest"/>
            <wsdl:output name="deleteCardResponse" message="sch:deleteCardResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCard">
            <wsdl:input name="getCardRequest" message="sch:getCardRequest"/>
            <wsdl:output name="getCardResponse" message="sch:getCardResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllCard">
            <wsdl:input name="getAllCardRequest" message="sch:getAllCardRequest"/>
            <wsdl:output name="getAllCardResponse" message="sch:getAllCardResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createCard">
            <wsdl:input name="createCardRequest" message="sch:createCardRequest"/>
            <wsdl:output name="createCardResponse" message="sch:createCardResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateCard">
            <wsdl:input name="updateCardRequest" message="sch:updateCardRequest"/>
            <wsdl:output name="updateCardResponse" message="sch:updateCardResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CardsPortSoap11" type="sch:CardsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="deleteCard">
            <soap:operation soapAction=""/>
            <wsdl:input name="deleteCardRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteCardResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCard">
            <soap:operation soapAction=""/>
            <wsdl:input name="getCardRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCardResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllCard">
            <soap:operation soapAction=""/>
            <wsdl:input name="getAllCardRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllCardResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createCard">
            <soap:operation soapAction=""/>
            <wsdl:input name="createCardRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createCardResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateCard">
            <soap:operation soapAction=""/>
            <wsdl:input name="updateCardRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateCardResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CardsPortService">
        <wsdl:port name="CardsPortSoap11" binding="sch:CardsPortSoap11">
            <soap:address location="http://localhost:80/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
